{% extends 'base.html.twig' %}

{% block title %}Subscriber index{% endblock %}

{% block body %}
    <h1>Subscriber index</h1>

    <table class="table sortable-table">
        <thead>
            <tr>
                <th>Id</th>
                <th class="sortable" data-field-name = "name">Name</th>
                <th class="sortable" data-field-name = "email">Email</th>
                <th>categories</th>
                <th class="sortable" data-field-name = "createdAt">createdAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {{ include('subscriber/_table_body.html.twig', {subscribers:subscribers}) }}
        </tbody>
    </table>

    <a href="{{ path('admin_subscriber_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
